.option {
    font-weight: 300;
    font-size: 1rem;
    color: aquamarine;
    padding: 10px;
    border-bottom: 1px solid wheat;
}

.option_icon {
    color: aquamarine;
    margin-right: 10px;
}

.option a {
    color: white;
}

